<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">
  <script type="text/javascript" src="https://kit.fontawesome.com/50a82cfbfd.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>SIH</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" id="up">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand justify-content-center" href="#">
        <img src="assets/sihLogo.png" alt="sih logo" width="80" class="d-inline-block align-text-top">
      </a>
      <h3>Smart India Hackathon 2023</h3>
    </div>
  </nav>

  <div class="container-fluid">
    <h1 class="mb-4">List of Smart India Hackathon Problems</h1>
    <form action="/filter" method="get" class="filter mb-3">
      <button type="button" class="btn btn-primary filter-btn" data-bs-toggle="button" id="filter-btn"><i
          class="fa-solid fa-filter"></i>
        Filter</button>
      <div class="filter-div">
        <div class="row-auto">
          <div class="col-auto">
            <label for="theme" class="form-label">Select Theme</label>
            <select name="theme" id="theme" class="form-select">
              <% if (theme !=="" ) { %>
                <option value="<%= theme %>" selected>
                  <%= theme %>
                </option>
                <% } %>
                  <hr>
                  <option value="">All</option>
                  <% themeResult.forEach(entry=> { %>
                    <option value="<%= entry.TechnologyBucket %>">
                      <%= entry.TechnologyBucket %>
                    </option>
                    <% }); %>
            </select>
          </div>
          <div class="col-auto">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select">
              <% if (category !=="" ) { %>
                <option value="<%= category %>" selected>
                  <%= category %>
                </option>
                <% } %>
                  <hr>
                  <option value="">All</option>
                  <% categoryResult.forEach(entry=> { %>
                    <option value="<%= entry.Category %>">
                      <%= entry.Category %>
                    </option>
                    <% }); %>
            </select>
          </div>
          <div class="col-auto">
            <label for="org" class="form-label">Organization</label>
            <select name="org" id="org" class="form-select">
              <% if (org !=="" ) { %>
                <option value="<%= org %>" selected>
                  <%= org %>
                </option>
                <% } %>
                  <hr>
                  <option value="">All</option>
                  <% orgResult.forEach(entry=> { %>
                    <option value="<%= entry.ProblemCreatorsOrganization %>">
                      <%= entry.ProblemCreatorsOrganization %>
                    </option>
                    <% }); %>
            </select>
          </div>
          <div class="col-auto">
            <input class="btn btn-success submit" type="submit" value="Submit">
            <input type="reset" class="btn btn-danger reset" id="reset" value="Reset">
          </div>
        </div>
      </div>
    </form>
    <% data.forEach(entry=> { %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <h6 class="card-title text-body-secondary">
                <%= entry.ID %>
              </h6>
              <h2 class="card-title">
                <%= entry.Title %>
              </h2>
              <p class="description-data card-text">
                <%= entry.Description %>
              </p>
              <button class="btn btn-outline-success readmore mb-3">Read More</button>
              <p class="card-text"><small class="text-body-secondary">
                  <%= entry.ProblemCreatorsOrganization %>
                </small></p>
              <p class="card-text"><small class="text-body-secondary">
                  <%= entry.ProblemCreatorsDepartment %>
                </small></p>
              <span class="badge text-bg-success">
                <%= entry.TechnologyBucket %>
              </span>
              <span class="badge text-bg-secondary">
                <%= entry.Category %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
  </div>

  <a class="scroll-down" href="#up">
    <i class="fa-solid fa-arrow-up"></i>
  </a>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% if(paginationLinks.previous) { %>
        <li class="page-item"><a class="page-link" href="<%= paginationLinks.previous %>">Previous</a></li>
        <% } else { %>
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
          <% } %>

            <% for(let i=iterator; i <=endingLink; i++) { %>
              <% if(i===page) { %>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    <%= i %>
                  </span>
                </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link"
                      href="/filter?page=<%= i %>&theme=<%= theme %>&category=<%= category %>&org=<%= org %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% } %>
                      <% if (paginationLinks.next) { %>
                        <li class="page-item"><a class="page-link" href="<%= paginationLinks.next %>">Next</a></li>
                        <% } else { %>
                          <li class="page-item disabled"><span class="page-link">Next</span></li>
                          <% } %>
    </ul>
  </nav>

  <footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center footline">
      <span class="mb-3 mb-md-0 text-body-secondary">Made by &nbsp;<a href="#" target="_blank" class="linkedin">Dhruv
          Soni</a></span>
    </div>

    <span>Total Visitors: <%= countResult[0].count %></span>

    <ul class="nav col-md-4 justify-content-end align-items-center list-unstyled d-flex links">
      <a class="" href="https://github.com/sonidhruv26" style="transform: scale(1.5);"><i
          class="bi bi-github"></i></a></li>
      <a class="" href="https://www.linkedin.com/in/dhruv-soni-b001a324b" style="transform: scale(1.5);"><i
          class="bi bi-linkedin"></i></a></li>
      <a class="" href="https://www.instagram.com/d_1o_s/" style="transform: scale(1.5);"><i
          class="bi bi-instagram"></i></a></li>
    </ul>
  </footer>

  <script type="text/javascript">
    document.querySelectorAll(".readmore").forEach((button, index) => {
      button.addEventListener("click", () => {
        const description = document.querySelectorAll(".description-data")[index];
        description.classList.toggle("show-more");
        button.innerHTML = button.innerHTML === "Read More" ? "Read Less" : "Read More";
      });
    });

    const filterBtn = document.querySelector('.filter-btn');
    const filterDiv = document.querySelector('.filter-div');
    filterBtn.addEventListener("click", () => {
      filterBtn.classList.toggle(".active");
      filterDiv.classList.toggle("expanded");
      filterBtn.ariaPressed = true;
    });



  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>